<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<h1>Team Randomizer</h1>

<form method="post" class="form-horizontal">
  <div class="form-group">
    <label for="names">Names</label><br>
    <textarea name="names" id="names" class="form-control" rows="8" cols="80">Bob, Aron, Carol, Helen, Josh, Serena, Nic, Jeff</textarea>
  </div>
  <div class="form-group">
    <label>Number</label><br>
    <input type="text" name="input" id="input" class="form-control" value="">
  </div><br>
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-primary">
  </div>
</form>

<%- include('./partials/footer') %>
